__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
dist/
develop-eggs/
.eggs/
*.egg-info/
pip-wheel-metadata/
share/python-wheels/

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*,cover

*.mo
*.pot

local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

*/migrations/

.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/
__pypackages__/

.vscode/
.history/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~

.DS_Store

Thumbs.db
ehthumbs.db

docker-compose.override.yml
.env.*.local
*.tar
docker-compose.*.local.yml

*.tar

chromedriver
chromedriver.exe
chromedriver-*
geckodriver
google-chrome*

logs/
*.log

secrets.yml
*.pem
*.key
*.env
*.bak
*.orig
*.old
dist/
build/
